In [24]:
import pandas as pd
import numpy as np 
import math

In [2]:
buffer = pd.read_csv("DataSample.csv")
df = pd.DataFrame(buffer)

buffer2 = pd.read_csv("POIList.csv")
df2 = pd.DataFrame(buffer2)

In [12]:
df2.head()

  POIID   Latitude   Longitude
0  POI1  53.546167 -113.485734
1  POI2  53.546167 -113.485734
2  POI3  45.521629  -73.566024
3  POI4  45.224830  -63.232729

In [21]:
df2.columns

Index(['POIID', ' Latitude', 'Longitude'], dtype='object')

In [10]:
ids_to_remove = []
valid_data = {}
for i in range(len(df)):
    coordinate_key = str(df["Latitude"].iloc[i]) + str(df["Longitude"].iloc[i]) #creating a key for dictionary
    if coordinate_key not in valid_data:                                        #O(1) look up time
        valid_data[coordinate_key] = [df[" TimeSt"].iloc[i]]                    #storing an array of timestamps to check for suspicous entries
    elif df[" TimeSt"].iloc[i] in valid_data[coordinate_key]:                   #checking to see if that time stamp has been seen before
        ids_to_remove.append(df["_ID"].iloc[i])                                 #if suspicous, store it's id in array
    else:                                                                       
        valid_data[coordinate_key].append(df[" TimeSt"].iloc[i])                #if the timestamp is new, store it in dictionary
df = df[~df["_ID"].isin(ids_to_remove)]                                         #removing the suspicous entries    

#this method takes O(n) time where n is the length of the dataframe

In [32]:
#################### Function created for part 2
#################### This function assumes that latitude and Longitude function perpendicular to eachother (creating 2d vector space) 
def closest_vector(lat, long):
    curr_closest = df2["POIID"].iloc[0]
    
    #calculating for first coordinate
    delta_x = abs(lat - df2[" Latitude"].iloc[0]) 
    delta_y = abs(long - df2["Longitude"].iloc[0])
    min_dist = math.sqrt((delta_x ** 2) + (delta_y ** 2))
    
    for i in range(1, len(df2)):
        delta_x = abs(lat - df2[" Latitude"].iloc[i]) 
        delta_y = abs(long - df2["Longitude"].iloc[i])
        curr_dist = math.sqrt((delta_x **2) + (delta_y ** 2))         #using pythagoreus theorem to get distance in between points
        if curr_dist < min_dist:
            min_dist = curr_dist
            curr_closest = df2["POIID"].iloc[i]
    return curr_closest

In [36]:
POI_list = []
for j in range(len(df)):
    POI_list.append(closest_vector(df["Latitude"].iloc[j], df["Longitude"].iloc[j]))

df["Nearest_POI"] = POI_list

df.count()

c:\users\ethan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

_ID            19999
 TimeSt        19999
Country        19999
Province       19999
City           19999
Latitude       19999
Longitude      19999
Nearest_POI    19999
dtype: int64

In [38]:
df.head(200)

,_ID,TimeSt,Country,Province,City,Latitude,Longitude,Nearest_POI
0,4516516,2017-06-21 00:00:00.143,CA,ON,Waterloo,43.49347,-80.49123,POI3
1,4516547,2017-06-21 18:00:00.193,CA,ON,London,42.93990,-81.27090,POI3
2,4516550,2017-06-21 15:00:00.287,CA,ON,Guelph,43.57760,-80.22010,POI3
3,4516600,2017-06-21 15:00:00.307,CA,ON,Stratford,43.37160,-80.97730,POI3
4,4516613,2017-06-21 15:00:00.497,CA,ON,Stratford,43.37160,-80.97730,POI3
...,...,...,...,...,...,...,...,...
209,4527041,2017-06-21 19:00:24.713,CA,ON,London,42.99300,-81.16900,POI3
210,4527101,2017-06-21 01:00:25.740,CA,ON,Toronto,43.64660,-79.44930,POI3
211,4527148,2017-06-21 19:00:20.903,CA,AB,Airdrie,51.27979,-114.00324,POI1
212,4527192,2017-06-21 05:00:21.100,CA,ON,Toronto,43.66820,-79.42090,POI3
213,4527235,2017-06-21 08:00:21.153,CA,ON,Waterloo,43.47370,-80.53090,POI3

In [39]:
cheech = [4,3,5,6,7,8,54,34,23,5,3]
print(sum(cheech) / len(cheech))

13.818181818181818

In [72]:
def get_avg(arr):
    curr = float(arr[0])
    for i in range(1,len(arr)):
        curr = (curr*(i + 1) + arr[i]) / (i + 2)
    return curr

In [73]:
get_avg(cheech)

13.0